<!DOCTYPE html>
<html>
  <head>
        <title>IIIT-Lucknow</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src ="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
        <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/filecss.css">
        
    </head>
        <body>
            <div class="top">
                <div class="bar white wide padding card">
                  <a href="#home" class="bar-item button"><b>IIIT </b>Lucknow</a>
                  
                  <div class="right hide-small">
                    <a href="#projects" class="bar-item button">About</a>
                    <a href="#about" class="bar-item button">Admission</a>
                    <a href="#contact" class="bar-item button">News&Event</a>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span> Search </button>
                        
                      </div>
                </div>
              </div>
              
              
                <div class="container padding-32" id="login" style="margin-top: 30px">
                  <h3 class="border-bottom border-light-grey padding-16">Login</h3>
                  <form action="/login" method="POST">
                    <input class="input section" type="text" placeholder="Email" required name="Email">
                    <input class="input section" type="password" placeholder="Password" required name="Password">
                    <div>
                        <input type="checkbox" id="Check1" name="teacher" onclick="selectOnlyThis(this.id)" />Teacher 
                        <input type="checkbox" id="Check2" name="student" onclick="selectOnlyThis(this.id)" />Student   
                    </div>
                    <button class="button black section" type="submit">
                      <i class="fa fa-paper-plane"></i> Login
                    </button>
                    <a href="register" style="margin-left: 20px"><u>New User?</u></a>
                  </form>
                </div>      
                
             
              </div>
              
              <div id="googleMap" class="grayscale" style="width:100%;height:450px;margin-top:90px"></div>
              <script>
              function myMap()
              {
                myCenter=new google.maps.LatLng(25.429594, 81.770362);
                var mapOptions= {
                  center:myCenter,
                  zoom:12, scrollwheel: false, draggable: false,
                  mapTypeId:google.maps.MapTypeId.ROADMAP
                };
                var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);
              
                var marker = new google.maps.Marker({
                  position: myCenter,
                });
                marker.setMap(map);
              }
              </script>
              <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCx8sCuklZYTHJD2vJOhUxLZ1DBW832uVM&callback=myMap"></script>
              
              
              </body>
              </html>
        </body>
        <script>
          function selectOnlyThis(id) {
            for (var i = 1;i <= 2; i++)
            {
              document.getElementById("Check" + i).checked = false;
            }
            document.getElementById(id).checked = true;
          }
        </script>
    
</html>
